[Unit]
Description=Frame Notes (Gunicorn)
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/frame_notes
EnvironmentFile=/var/www/frame_notes/.env
ExecStart=/var/www/frame_notes/venv/bin/gunicorn \
    --workers 1 \
    --timeout 300 \
    --bind unix:/var/www/frame_notes/run/gunicorn.sock \
    config.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
